# Object files
*.o
*.bc

# Shared libraries
*.so
*.dll
*.dylib

# Postgres regression testing
results/
regression.diffs
regression.out
tmp_check/
log/
logfile
pg_log.txt

# Temporary test data and databases
test_db
*.duckdb
*.duckdb.wal
docs

# Compilation logs
compile_error*.log
compile_final_error.log

# libduckdb 
libduckdb*
duckdb.h
duckdb.hpp
docs/
.env
